.el-menu {
  border-bottom: 0px;
}

.main-navbar {
  height:56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu {
  display: flex;
  outline: none;
}

.middle-menu {
  flex: 1;
}

.right-menu {
  display: flex;
  outline: none;
  margin-right: 10px;
}
