@import '../index.scss';

.el-container {
  height: 100%;
  width: 100%;
}

.el-header, .el-main {
  padding: 0;
}

.layout-container {
  height: 100%;
  width: 100%;
}

.asidebar {
  width: 260px;
  transition: width 0.38s ease-out;
}

.hideSidebar {
  width: 0px !important;
}

.sidebar-container {
  height: 100%;
}

.navbar-container {
  width: 100%;
}

.contents-container {
  margin: 0 10px;
}