$White: #FFFFFF; //纯白
$Ivory: #FFFFF0; //象牙
$LightYellow: #FFFFE0; //浅黄色
$Yellow: #FFFF00; //纯黄
$Snow: #FFFAFA; //雪
$FloralWhite: #FFFAF0; //花的白色
$LemonChiffon: #FFFACD; //柠檬薄纱
$Cornislk: #FFF8DC; //玉米色
$SeaShell: #FFF5EE; //海贝壳
$LavenderBlush: #FFF0F5; //脸红的淡紫色
$PapayaWhip: #FFEFD5; //番木瓜
$BlanchedAlmond: #FFEBCD; //漂白的杏仁
$MistyRose: #FFE4E1; //薄雾玫瑰
$Bisque: #FFE4C4; //(浓汤)乳脂,番茄等
$Moccasin: #FFE4B5; //鹿皮鞋
$NavajoWhite: #FFDEAD; //纳瓦霍白
$PeachPuff: #FFDAB9; //桃色
$Gold: #FFD700; //金
$Pink: #FFC0CB; //粉红
$LightPink: #FFB6C1; //浅粉红
$Orange: #FFA500; //橙色
$LightSalmon: #FFA07A; //浅鲜肉(鲑鱼)色
$DarkOrange: #FF8C00; //深橙色
$Coral: #FF7F50; //珊瑚
$HotPink: #FF69B4; //热情的粉红
$Tomato: #FF6347; //番茄
$OrangeRed: #FF4500; //橙红色
$DeepPink: #FF1493; //深粉色
$Magenta: #FF00FF; //洋红
$Fuchsia: #FF00FF; //灯笼海棠(紫红色)
$Red: #FF0000; //纯红
$OldLace: #FDF5E6; //老饰带
$LightGoldenrodYellow: #FAFAD2; //浅秋麒麟黄
$Linen: #FAF0E6; //亚麻布
$AntiqueWhite: #FAEBD7; //古代的白色
$Salmon: #FA8072; //鲜肉(鲑鱼)色
$GhostWhite: #F8F8FF; //幽灵的白色
$MintCream: #F5FFFA; //薄荷奶油
$WhiteSmoke: #F5F5F5; //白烟
$Beige: #F5F5DC; //米色(浅褐色)
$Wheat: #F5DEB3; //小麦色
$SandyBrown: #F4A460; //沙棕色
$Azure: #F0FFFF; //蔚蓝色
$Honeydew: #F0FFF0; //蜂蜜
$AliceBlue: #F0F8FF; //爱丽丝蓝
$Khaki: #F0E68C; //卡其布
$LightCoral: #F08080; //淡珊瑚色
$PaleGodenrod: #EEE8AA; //灰秋麒麟
$Violet: #EE82EE; //紫罗兰
$DarkSalmon: #E9967A; //深鲜肉(鲑鱼)色
$Lavender: #E6E6FA; //熏衣草花的淡紫色
$LightCyan: #E1FFFF; //淡青色
$BrulyWood: #DEB887; //结实的树
$plum: #DDA0DD; //李子
$Gainsboro: #DCDCDC; //亮灰色
$Crimson: #DC143C; //猩红
$PaleVioletRed: #DB7093; //苍白的紫罗兰红色
$GoldEnrod: #DAA520; //秋麒麟
$Orchid: #DA70D6; //兰花的紫色
$Thistle: #D8BFD8; //蓟
$LightGrey: #D3D3D3; //浅灰色
$Tan: #D2B48C; //晒黑
$Chocolate: #D2691E; //巧克力
$Peru: #CD853F; //秘鲁
$IndianRed: #CD5C5C; //印度红
$MediumVioletRed: #C71585; //适中的紫罗兰红色
$Silver: #C0C0C0; //银白色
$DarkKhaki: #BDB76B; //深卡其布
$RosyBrown: #BC8F8F; //玫瑰棕色
$MediumOrchid: #BA55D3; //适中的兰花紫
$FireBrick: #B22222; //耐火砖
$PowDerBlue: #B0E0E6; //火药蓝
$LightSteelBlue: #B0C4DE; //淡钢蓝
$PaleTurquoise: #AFEEEE; //苍白的绿宝石
$GreenYellow: #ADFF2F; //绿黄色
$LightBLue: #ADD8E6; //淡蓝
$DarkGray: #A9A9A9; //深灰色
$Brown: #A52A2A; //棕色
$Sienna: #A0522D; //黄土赭色
$DarkOrchid: #9932CC; //深兰花紫
$PaleGreen: #98FB98; //苍白的绿色
$DarkVoilet: #9400D3; //深紫罗兰色
$MediumPurple: #9370DB; //适中的紫色
$LightGreen: #90EE90; //淡绿色
$DarkSeaGreen: #8FBC8F; //深海洋绿
$SaddleBrown: #8B4513; //马鞍棕色
$DarkMagenta: #8B008B; //深洋红色
$DarkRed: #8B0000; //深红色
$BlueViolet: #8A2BE2; //深紫罗兰的蓝色
$LightSkyBlue: #87CEFA; //淡蓝色
$SkyBlue: #87CEEB; //天蓝色
$Gray: #808080; //灰色
$Olive: #808000; //橄榄
$Purple: #800080; //紫色
$Maroon: #800000; //栗色
$Auqamarin: #7FFFAA; //绿玉\碧绿色
$Chartreuse: #7FFF00; //查特酒绿
$LawnGreen: #7CFC00; //草坪绿
$MediumSlateBlue: #7B68EE; //适中的板岩暗蓝灰色
$LightSlateGray: #778899; //浅石板灰
$SlateGray: #708090; //石板灰
$SlateBlue: #6A5ACD; //板岩暗蓝灰色
$DimGray: #696969; //暗淡的灰色
$CornflowerBlue: #6495ED; //矢车菊的蓝色
$CadetBlue: #5F9EA0; //军校蓝
$OliveDrab: #556B2F; //橄榄土褐色
$Indigo: #4B0082; //靛青
$MediumTurquoise: #48D1CC; //适中的绿宝石
$DarkSlateBlue: #483D8B; //深岩暗蓝灰色
$SteelBlue: #4682B4; //钢蓝
$RoyalBlue: #4169E1; //皇家蓝
$Turquoise: #40E0D0; //绿宝石
$SpringGreen: #3CB371; //春天的绿色
$LimeGreen: #32CD32; //酸橙绿
$DarkSlateGray: #2F4F4F; //深石板灰
$SeaGreen: #2E8B57; //海洋绿
$ForestGreen: #228B22; //森林绿
$LightSeaGreen: #20B2AA; //浅海洋绿
$DoderBlue: #1E90FF; //道奇蓝
$MidnightBlue: #191970; //午夜的蓝色
$Cyan: #00FFFF; //青色
$Aqua: #00FFFF; //水绿色
$MediumSpringGreen: #00FF7F; //适中的春天的绿色
$Lime: #00FF00; //酸橙色
$MediumAquamarine: #00FA9A; //适中的碧绿色
$DarkTurquoise: #00CED1; //深绿宝石
$DeepSkyBlue: #00BFFF; //深天蓝
$DarkCyan: #008B8B; //深青色
$Teal: #008080; //水鸭色
$Green: #008000; //纯绿
$DarkGreen: #006400; //深绿色
$Blue: #0000FF; //纯蓝
$MediumBlue: #0000CD; //适中的蓝色
$DarkBlue: #00008B; //深蓝色
$Navy: #000080; //海军蓝
$Black: #000000; //纯黑